In [1]:
import sys
sys.path.append('../utils')

In [2]:
from spark_config import spark_configs

spark = spark_configs()

23/04/14 21:44:03 WARN Utils: Your hostname, thiagovale-550XDA resolves to a loopback address: 127.0.1.1; using 192.168.0.15 instead (on interface wlo1)
23/04/14 21:44:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/usr/local/lib/python3.10/dist-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/thiago-vale/.ivy2/cache
The jars for the packages stored in: /home/thiago-vale/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-89ca8263-657e-4282-9ed4-a6f5f202aeb1;1.0
	confs: [default]
	found io.delta#delta-core_2.12;2.0.2 in central
	found io.delta#delta-storage;2.0.2 in central
	found org.antlr#antlr4-runtime;4.8 in central
	found org.codehaus.jackson#jackson-core-asl;1.9.13 in central
:: resolution report :: resolve 126ms :: artifacts dl 5ms
	:: modules in use:
	io.delta#delta-core_2.12;2.0.2 from central in [default]
	io.delta#delta-storage;2.0.2 from central in [default]
	org.antlr#antlr4-runtime;4.8 from central in [default]
	org.codehaus.jackson#jackson-core-asl;1.9.13 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   0   ||   4   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-89ca8263-657e-4282-9ed4-a6f5f202aeb1
	confs: [default]
	0 artifacts copied, 4 already retrieved (0kB/3ms)
23/04/14 21:44:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark = spark.builder.appName('read spark').getOrCreate()

In [4]:
cnaes = spark.read.format('csv').option('header','true').option('inferSchema','true').option('delimiter',';').load('../data/cnaes.csv')
estabelecimentos = spark.read.format('csv').option('header','true').option('inferSchema','true').option('delimiter',';').load('../data/estabelecimentos/')

In [5]:
cnaes.show(5)

+------+--------------------+
|  CNAE|      DESCRICAO_CNAE|
+------+--------------------+
|111301|    Cultivo de arroz|
|111302|    Cultivo de milho|
|111303|    Cultivo de trigo|
|111399|Cultivo de outros...|
|112101|Cultivo de algod�...|
+------+--------------------+
only showing top 5 rows

In [6]:
estabelecimentos.show(5)

+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+---------------------+--------------+---------------+---------------+--------------------+------+-----------+--------------------+--------+---+---------+-----+--------+-----+-----+-------+----+--------------------+-----------------+----------------------+
|CNPJ_BASICO|CNPJ_ORDEM|CNPJ_DV|IDENTIFICADOR_MATRIZ_FILIAL|       NOME_FANTASIA|SITUACAO_CADASTRAL|DATA_SITUACAO_CADASTRAL|MOTIVO_SITUACAO_CADASTRAL|NOME_DA_CIDADE_NO_EXTERIOR|PAIS|DATA_INICIO_ATIVIDADE|CNAE_PRINCIPAL|CNAE_SECUNDARIA|TIPO_LOGRADOURO|          LOGRADOURO|NUMERO|COMPLEMENTO|              BAIRRO|     CEP| UF|MUNICIPIO|DDD_1|   TEL_1|DDD_2|TEL_2|DDD_FAX| FAX|  CORREIO_ELETRONICO|SITUACAO_ESPECIAL|DATA_SITUACAO_ESPECIAL|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+---------------------+--------------+---------------+---------------+--------------------+------+-----------+--------------------+--------+---+---------+-----+--------+-----+-----+-------+----+--------------------+-----------------+----------------------+
|   28678846|         1|      2|                          1|                null|                 2|               20220314|                        0|                      null|null|             20170919|       4729699|           null|        AVENIDA|LEONARDO ANTONIO ...|    35|       null|JARDIM PARAISO I ...|13179335| SP|     7149|   19|89501163| null| null|   null|null|ROSYJACOMO@HOTMAI...|             null|                  null|
|   26754771|         1|     68|                          1|  INOVAR CONSTRUCOES|                 4|               20210225|                       63|                      null|null|             20161222|       4399103|4330405,4330404|            RUA|          SAO MIGUEL|   267|     CASA 4|CORONEL APARICIO ...|91710330| RS|     8801|   51|99683907| null| null|   null|null|guilhermesodre201...|             null|                  null|
|   37962505|         1|     47|                          1|         CABRAL FOOD|                 8|               20200923|                        1|                      null|null|             20200804|       5611203|           null|        AVENIDA|JORGE RODRIGUES P...|   100|       null|       JARDIM RECORD|06780120| SP|     7157|   11|46851465| null| null|   null|null|MARIANAPMEDEIROS@...|             null|                  null|
|   26755226|         1|     96|                          1|       JC MANUTENCAO|                 2|               20161222|                        0|                      null|null|             20161222|       3314707|           null|        AVENIDA|     COELHO DA ROCHA|  2138|       null|      ROCHA SOBRINHO|26572481| RJ|     1116|   21|64508032| null| null|   null|null|jeffersonrabello3...|             null|                  null|
|   26755456|         1|     55|                          1|HADASSA BOLOS NO ...|                 8|               20170412|                        1|                      null|null|             20161222|       5612100|           null|            RUA|         DOS GUSMOES|    68|       CASA| JARDIM SAO LOURENCO|79041540| MS|     9051|   67|30267063| null| null|   null|null|clafael4@hotmail.com|             null|                  null|
+-----------+----------+-------+---------------------------+--------------------+------------------+-----------------------+-------------------------+--------------------------+----+---------------------+--------------+---------------+---------------+--------------------+------+-----------+--------------------+--------+---+---------+-----+--------+-----+-----+-------+----+--------------------+-----------------+----------------------+
only showing top 5 rows

In [7]:
# Quantos estabelecimentos existem?
estabelecimentos.count()

20996744

In [8]:
# Na tabela de estabelecimentos, quantas colunas existem e quantas são identificadas pelo spark como números? (Use inferSchema ao ler os arquivos).
len(estabelecimentos.columns)

30

In [9]:
estabelecimentos.printSchema()

root
 |-- CNPJ_BASICO: integer (nullable = true)
 |-- CNPJ_ORDEM: integer (nullable = true)
 |-- CNPJ_DV: integer (nullable = true)
 |-- IDENTIFICADOR_MATRIZ_FILIAL: integer (nullable = true)
 |-- NOME_FANTASIA: string (nullable = true)
 |-- SITUACAO_CADASTRAL: integer (nullable = true)
 |-- DATA_SITUACAO_CADASTRAL: integer (nullable = true)
 |-- MOTIVO_SITUACAO_CADASTRAL: integer (nullable = true)
 |-- NOME_DA_CIDADE_NO_EXTERIOR: string (nullable = true)
 |-- PAIS: integer (nullable = true)
 |-- DATA_INICIO_ATIVIDADE: integer (nullable = true)
 |-- CNAE_PRINCIPAL: integer (nullable = true)
 |-- CNAE_SECUNDARIA: string (nullable = true)
 |-- TIPO_LOGRADOURO: string (nullable = true)
 |-- LOGRADOURO: string (nullable = true)
 |-- NUMERO: string (nullable = true)
 |-- COMPLEMENTO: string (nullable = true)
 |-- BAIRRO: string (nullable = true)
 |-- CEP: string (nullable = true)
 |-- UF: string (nullable = true)
 |-- MUNICIPIO: integer (nullable = true)
 |-- DDD_1: string (nullable = true)
 |-- TEL_1: string (nullable = true)
 |-- DDD_2: string (nullable = true)
 |-- TEL_2: string (nullable = true)
 |-- DDD_FAX: double (nullable = true)
 |-- FAX: string (nullable = true)
 |-- CORREIO_ELETRONICO: string (nullable = true)
 |-- SITUACAO_ESPECIAL: string (nullable = true)
 |-- DATA_SITUACAO_ESPECIAL: integer (nullable = true)

In [10]:
estabelecimentos.dtypes

[('CNPJ_BASICO', 'int'),
 ('CNPJ_ORDEM', 'int'),
 ('CNPJ_DV', 'int'),
 ('IDENTIFICADOR_MATRIZ_FILIAL', 'int'),
 ('NOME_FANTASIA', 'string'),
 ('SITUACAO_CADASTRAL', 'int'),
 ('DATA_SITUACAO_CADASTRAL', 'int'),
 ('MOTIVO_SITUACAO_CADASTRAL', 'int'),
 ('NOME_DA_CIDADE_NO_EXTERIOR', 'string'),
 ('PAIS', 'int'),
 ('DATA_INICIO_ATIVIDADE', 'int'),
 ('CNAE_PRINCIPAL', 'int'),
 ('CNAE_SECUNDARIA', 'string'),
 ('TIPO_LOGRADOURO', 'string'),
 ('LOGRADOURO', 'string'),
 ('NUMERO', 'string'),
 ('COMPLEMENTO', 'string'),
 ('BAIRRO', 'string'),
 ('CEP', 'string'),
 ('UF', 'string'),
 ('MUNICIPIO', 'int'),
 ('DDD_1', 'string'),
 ('TEL_1', 'string'),
 ('DDD_2', 'string'),
 ('TEL_2', 'string'),
 ('DDD_FAX', 'double'),
 ('FAX', 'string'),
 ('CORREIO_ELETRONICO', 'string'),
 ('SITUACAO_ESPECIAL', 'string'),
 ('DATA_SITUACAO_ESPECIAL', 'int')]

In [11]:
cnaes.dtypes

[('CNAE', 'int'), ('DESCRICAO_CNAE', 'string')]

In [12]:
estabelecimentos.createTempView('estab')

In [13]:
logradouro_null = spark.sql('''
                            select count(*)
                            from estab
                            where LOGRADOURO is null
                            ''')

In [14]:
logradouro_null.show()

+--------+
|count(1)|
+--------+
|     828|
+--------+

In [15]:
from pyspark.sql.functions import udf
from pyspark.sql.types import BooleanType

In [16]:
def is_avenida(logradouro):
    if logradouro is not None and logradouro.lower().startswith('avenida'):
        return True
    else:
        return False
    
spark.udf.register("is_avenida", is_avenida, BooleanType())

In [25]:
estabelecimentos.createOrReplaceTempView('estab')
cnaes.createOrReplaceTempView('cnaes')

In [18]:
avenida = spark.sql('''
                    select
                        count(*)
                    from estab
                    where is_avenida(LOGRADOURO) == True
                    ''')

In [19]:
avenida.show()

+--------+
|count(1)|
+--------+
|   52587|
+--------+

In [20]:
cep = spark.sql('select count(distinct CEP) from estab')
cep.show()

+-------------------+
|count(DISTINCT CEP)|
+-------------------+
|             889885|
+-------------------+

In [21]:
from pyspark.sql.functions import countDistinct
estabelecimentos.select(countDistinct('CEP')).show()

+-------------------+
|count(DISTINCT CEP)|
+-------------------+
|             889885|
+-------------------+

In [22]:
cnaes.count()

1359

In [23]:
estab_with_cnae = estabelecimentos.join(cnaes, estabelecimentos["CNAE_PRINCIPAL"] == cnaes["CNAE"])

def is_cultivo(descricao):
    if descricao is not None and "cultivo" in descricao.lower():
        return True
    else:
        return False
    
spark.udf.register("is_cnae_cultivo", is_cultivo, BooleanType())

In [24]:
estab_with_cnae.createOrReplaceTempView("estab_with_cnae")

cultivo_stab = spark.sql('''
                            SELECT COUNT(*) AS num_estab_cultivo
                            FROM estab_with_cnae
                            WHERE is_cnae_cultivo(DESCRICAO_CNAE) == True
                            ''')
cultivo_stab.show()

+-----------------+
|num_estab_cultivo|
+-----------------+
|           223500|
+-----------------+

In [26]:
cultivo = spark.sql('''
                    select count(*)
                    from estab a
                    left join cnaes b on a.CNAE_PRINCIPAL = b.CNAE
                    where lower(b.DESCRICAO_CNAE) like ('cultivo%')
                    ''')
cultivo.show()

+--------+
|count(1)|
+--------+
|  200243|
+--------+

In [27]:
filial = spark.sql(''' select count(*) from estab where IDENTIFICADOR_MATRIZ_FILIAL = 2''')
filial.show()

+--------+
|count(1)|
+--------+
| 1093082|
+--------+