In [1]:
import sys
sys.path.append('../utils')

In [2]:
from spark_config import spark_configs

spark = spark_configs()

23/04/25 20:49:42 WARN Utils: Your hostname, thiagovale-550XDA resolves to a loopback address: 127.0.1.1; using 192.168.0.15 instead (on interface wlo1)
23/04/25 20:49:42 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/usr/local/lib/python3.10/dist-packages/pyspark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/thiago-vale/.ivy2/cache
The jars for the packages stored in: /home/thiago-vale/.ivy2/jars
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-cf95040a-69ef-44ca-ab94-f5ca4e3b5780;1.0
	confs: [default]
	found io.delta#delta-core_2.12;2.0.2 in central
	found io.delta#delta-storage;2.0.2 in central
	found org.antlr#antlr4-runtime;4.8 in central
	found org.codehaus.jackson#jackson-core-asl;1.9.13 in central
:: resolution report :: resolve 128ms :: artifacts dl 5ms
	:: modules in use:
	io.delta#delta-core_2.12;2.0.2 from central in [default]
	io.delta#delta-storage;2.0.2 from central in [default]
	org.antlr#antlr4-runtime;4.8 from central in [default]
	org.codehaus.jackson#jackson-core-asl;1.9.13 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   4   |   0   |   0   |   0   ||   4   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-cf95040a-69ef-44ca-ab94-f5ca4e3b5780
	confs: [default]
	0 artifacts copied, 4 already retrieved (0kB/3ms)
23/04/25 20:49:43 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark = spark.builder.appName('read spark').getOrCreate()

In [6]:
df = spark.read.format('csv').option('header','true').option('inferSchema','true').option('delimiter',';').load('../data/MICRODADOS_ENADE_2017.csv')

In [12]:
df.show(1)

+------+------+----------+----------+--------+--------+-------------+--------------+-----------+---------------+--------+-------+----------+-----------+------------------+----------------+------------+-----------+-------------+-------------+-------------+-----------+-------------+-------------+-------------+------------------+-----------------+--------------------+--------------------+-------------+-------------+--------------------+--------------------+-------+---------+-----------+-----------+-----------+-----------+---------+---------+---------+---------+---------+------+-----+---------+---------+--------+-----------+-----------+--------+-----------+-----------+-----+---------+---------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|NU_ANO|CO_IES|CO_CATEGAD|CO_ORGACAD|CO_GRUPO|CO_CURSO|CO_MODALIDADE|CO_MUNIC_CURSO|CO_UF_CURSO|CO_REGIAO_CURSO|NU_IDADE|TP_SEXO|ANO_FIM_EM|ANO_IN_GRAD|CO_TURNO_GRADUACAO|TP_INSCRICAO_ADM|TP_INSCRICAO|NU_ITEM_OFG|NU_ITEM_OFG_Z|NU_ITEM_OFG_X|NU_ITEM_OFG_N|NU_ITEM_OCE|NU_ITEM_OCE_Z|NU_ITEM_OCE_X|NU_ITEM_OCE_N|DS_VT_GAB_OFG_ORIG|DS_VT_GAB_OFG_FIN|  DS_VT_GAB_OCE_ORIG|   DS_VT_GAB_OCE_FIN|DS_VT_ESC_OFG|DS_VT_ACE_OFG|       DS_VT_ESC_OCE|       DS_VT_ACE_OCE|TP_PRES|TP_PR_GER|TP_PR_OB_FG|TP_PR_DI_FG|TP_PR_OB_CE|TP_PR_DI_CE|TP_SFG_D1|TP_SFG_D2|TP_SCE_D1|TP_SCE_D2|TP_SCE_D3|NT_GER|NT_FG|NT_OBJ_FG|NT_DIS_FG|NT_FG_D1|NT_FG_D1_PT|NT_FG_D1_CT|NT_FG_D2|NT_FG_D2_PT|NT_FG_D2_CT|NT_CE|NT_OBJ_CE|NT_DIS_CE|NT_CE_D1|NT_CE_D2|NT_CE_D3|CO_RS_I1|CO_RS_I2|CO_RS_I3|CO_RS_I4|CO_RS_I5|CO_RS_I6|CO_RS_I7|CO_RS_I8|CO_RS_I9|QE_I01|QE_I02|QE_I03|QE_I04|QE_I05|QE_I06|QE_I07|QE_I08|QE_I09|QE_I10|QE_I11|QE_I12|QE_I13|QE_I14|QE_I15|QE_I16|QE_I17|QE_I18|QE_I19|QE_I20|QE_I21|QE_I22|QE_I23|QE_I24|QE_I25|QE_I26|QE_I27|QE_I28|QE_I29|QE_I30|QE_I31|QE_I32|QE_I33|QE_I34|QE_I35|QE_I36|QE_I37|QE_I38|QE_I39|QE_I40|QE_I41|QE_I42|QE_I43|QE_I44|QE_I45|QE_I46|QE_I47|QE_I48|QE_I49|QE_I50|QE_I51|QE_I52|QE_I53|QE_I54|QE_I55|QE_I56|QE_I57|QE_I58|QE_I59|QE_I60|QE_I61|QE_I62|QE_I63|QE_I64|QE_I65|QE_I66|QE_I67|QE_I68|QE_I69|QE_I70|QE_I71|QE_I72|QE_I73|QE_I74|QE_I75|QE_I76|QE_I77|QE_I78|QE_I79|QE_I80|QE_I81|
+------+------+----------+----------+--------+--------+-------------+--------------+-----------+---------------+--------+-------+----------+-----------+------------------+----------------+------------+-----------+-------------+-------------+-------------+-----------+-------------+-------------+-------------+------------------+-----------------+--------------------+--------------------+-------------+-------------+--------------------+--------------------+-------+---------+-----------+-----------+-----------+-----------+---------+---------+---------+---------+---------+------+-----+---------+---------+--------+-----------+-----------+--------+-----------+-----------+-----+---------+---------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
|  2017|     1|         1|     10028|    5710|       3|            1|       5103403|         51|              5|      26|      F|      2007|       2012|                 3|               0|           1|          8|            0|            0|            0|         27|            0|            8|            0|          CCBBCEAD|         CCBBCEAD|EDCAEABCDBDDDCBCB...|EDXXEABCXBXDDCXCX...|     DCBBCEAD|      1111111|EEEADDBCABADCCAAA...|10990011919101909...|    555|      555|        555|        555|        555|        555|      555|      333|      555|      555|      333|  52,6| 64,1|     87,5|     29,0|      58|         50|         60|       0|          0|          0| 48,7|     52,6|     26,7|      55|      25|       0|       C|       D|       D|       B|       C|       C|       B|       D|       C|     A|     A|     A|     D|     F|     A|     A|     B|     C|     B|     A|     A|     A|     A|     A|    51|     B|     A|     B|     H|     A|     B|     D|     E|     H|     I|     5|     5|     4|     3|     3|     4|     3|     5|     3|     5|     2|     2|     3|     1|     1|     5|     1|     2|     2|     2|     1|     2|     2|     5|     5|     2|     3|     1|     3|     3|     4|     3|     3|     5|     3|     2|     2|     2|     1|     4|     4|     3|  null|  null|  null|  null|  null|  null|  null|  null|  null|  null|  null|  null|  null|
+------+------+----------+----------+--------+--------+-------------+--------------+-----------+---------------+--------+-------+----------+-----------+------------------+----------------+------------+-----------+-------------+-------------+-------------+-----------+-------------+-------------+-------------+------------------+-----------------+--------------------+--------------------+-------------+-------------+--------------------+--------------------+-------+---------+-----------+-----------+-----------+-----------+---------+---------+---------+---------+---------+------+-----+---------+---------+--------+-----------+-----------+--------+-----------+-----------+-----+---------+---------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+------+
only showing top 1 row

In [13]:
df.printSchema()

root
 |-- NU_ANO: integer (nullable = true)
 |-- CO_IES: integer (nullable = true)
 |-- CO_CATEGAD: integer (nullable = true)
 |-- CO_ORGACAD: integer (nullable = true)
 |-- CO_GRUPO: integer (nullable = true)
 |-- CO_CURSO: integer (nullable = true)
 |-- CO_MODALIDADE: integer (nullable = true)
 |-- CO_MUNIC_CURSO: integer (nullable = true)
 |-- CO_UF_CURSO: integer (nullable = true)
 |-- CO_REGIAO_CURSO: integer (nullable = true)
 |-- NU_IDADE: integer (nullable = true)
 |-- TP_SEXO: string (nullable = true)
 |-- ANO_FIM_EM: integer (nullable = true)
 |-- ANO_IN_GRAD: integer (nullable = true)
 |-- CO_TURNO_GRADUACAO: integer (nullable = true)
 |-- TP_INSCRICAO_ADM: integer (nullable = true)
 |-- TP_INSCRICAO: integer (nullable = true)
 |-- NU_ITEM_OFG: integer (nullable = true)
 |-- NU_ITEM_OFG_Z: integer (nullable = true)
 |-- NU_ITEM_OFG_X: integer (nullable = true)
 |-- NU_ITEM_OFG_N: integer (nullable = true)
 |-- NU_ITEM_OCE: integer (nullable = true)
 |-- NU_ITEM_OCE_Z: integer (nullable = true)
 |-- NU_ITEM_OCE_X: integer (nullable = true)
 |-- NU_ITEM_OCE_N: integer (nullable = true)
 |-- DS_VT_GAB_OFG_ORIG: string (nullable = true)
 |-- DS_VT_GAB_OFG_FIN: string (nullable = true)
 |-- DS_VT_GAB_OCE_ORIG: string (nullable = true)
 |-- DS_VT_GAB_OCE_FIN: string (nullable = true)
 |-- DS_VT_ESC_OFG: string (nullable = true)
 |-- DS_VT_ACE_OFG: integer (nullable = true)
 |-- DS_VT_ESC_OCE: string (nullable = true)
 |-- DS_VT_ACE_OCE: decimal(27,0) (nullable = true)
 |-- TP_PRES: integer (nullable = true)
 |-- TP_PR_GER: integer (nullable = true)
 |-- TP_PR_OB_FG: integer (nullable = true)
 |-- TP_PR_DI_FG: integer (nullable = true)
 |-- TP_PR_OB_CE: integer (nullable = true)
 |-- TP_PR_DI_CE: integer (nullable = true)
 |-- TP_SFG_D1: integer (nullable = true)
 |-- TP_SFG_D2: integer (nullable = true)
 |-- TP_SCE_D1: integer (nullable = true)
 |-- TP_SCE_D2: integer (nullable = true)
 |-- TP_SCE_D3: integer (nullable = true)
 |-- NT_GER: string (nullable = true)
 |-- NT_FG: string (nullable = true)
 |-- NT_OBJ_FG: string (nullable = true)
 |-- NT_DIS_FG: string (nullable = true)
 |-- NT_FG_D1: integer (nullable = true)
 |-- NT_FG_D1_PT: integer (nullable = true)
 |-- NT_FG_D1_CT: integer (nullable = true)
 |-- NT_FG_D2: integer (nullable = true)
 |-- NT_FG_D2_PT: integer (nullable = true)
 |-- NT_FG_D2_CT: integer (nullable = true)
 |-- NT_CE: string (nullable = true)
 |-- NT_OBJ_CE: string (nullable = true)
 |-- NT_DIS_CE: string (nullable = true)
 |-- NT_CE_D1: integer (nullable = true)
 |-- NT_CE_D2: integer (nullable = true)
 |-- NT_CE_D3: integer (nullable = true)
 |-- CO_RS_I1: string (nullable = true)
 |-- CO_RS_I2: string (nullable = true)
 |-- CO_RS_I3: string (nullable = true)
 |-- CO_RS_I4: string (nullable = true)
 |-- CO_RS_I5: string (nullable = true)
 |-- CO_RS_I6: string (nullable = true)
 |-- CO_RS_I7: string (nullable = true)
 |-- CO_RS_I8: string (nullable = true)
 |-- CO_RS_I9: string (nullable = true)
 |-- QE_I01: string (nullable = true)
 |-- QE_I02: string (nullable = true)
 |-- QE_I03: string (nullable = true)
 |-- QE_I04: string (nullable = true)
 |-- QE_I05: string (nullable = true)
 |-- QE_I06: string (nullable = true)
 |-- QE_I07: string (nullable = true)
 |-- QE_I08: string (nullable = true)
 |-- QE_I09: string (nullable = true)
 |-- QE_I10: string (nullable = true)
 |-- QE_I11: string (nullable = true)
 |-- QE_I12: string (nullable = true)
 |-- QE_I13: string (nullable = true)
 |-- QE_I14: string (nullable = true)
 |-- QE_I15: string (nullable = true)
 |-- QE_I16: integer (nullable = true)
 |-- QE_I17: string (nullable = true)
 |-- QE_I18: string (nullable = true)
 |-- QE_I19: string (nullable = true)
 |-- QE_I20: string (nullable = true)
 |-- QE_I21: string (nullable = true)
 |-- QE_I22: string (nullable = true)
 |-- QE_I23: string (nullable = true)
 |-- QE_I24: string (nullable = true)
 |-- QE_I25: string (nullable = true)
 |-- QE_I26: string (nullable = true)
 |-- QE_I27: integer (nullable = true)
 |-- QE_I28: integer (nullable = true)
 |-- QE_I29: integer (nullable = true)
 |-- QE_I30: integer (nullable = true)
 |-- QE_I31: integer (nullable = true)
 |-- QE_I32: integer (nullable = true)
 |-- QE_I33: integer (nullable = true)
 |-- QE_I34: integer (nullable = true)
 |-- QE_I35: integer (nullable = true)
 |-- QE_I36: integer (nullable = true)
 |-- QE_I37: integer (nullable = true)
 |-- QE_I38: integer (nullable = true)
 |-- QE_I39: integer (nullable = true)
 |-- QE_I40: integer (nullable = true)
 |-- QE_I41: integer (nullable = true)
 |-- QE_I42: integer (nullable = true)
 |-- QE_I43: integer (nullable = true)
 |-- QE_I44: integer (nullable = true)
 |-- QE_I45: integer (nullable = true)
 |-- QE_I46: integer (nullable = true)
 |-- QE_I47: integer (nullable = true)
 |-- QE_I48: integer (nullable = true)
 |-- QE_I49: integer (nullable = true)
 |-- QE_I50: integer (nullable = true)
 |-- QE_I51: integer (nullable = true)
 |-- QE_I52: integer (nullable = true)
 |-- QE_I53: integer (nullable = true)
 |-- QE_I54: integer (nullable = true)
 |-- QE_I55: integer (nullable = true)
 |-- QE_I56: integer (nullable = true)
 |-- QE_I57: integer (nullable = true)
 |-- QE_I58: integer (nullable = true)
 |-- QE_I59: integer (nullable = true)
 |-- QE_I60: integer (nullable = true)
 |-- QE_I61: integer (nullable = true)
 |-- QE_I62: integer (nullable = true)
 |-- QE_I63: integer (nullable = true)
 |-- QE_I64: integer (nullable = true)
 |-- QE_I65: integer (nullable = true)
 |-- QE_I66: integer (nullable = true)
 |-- QE_I67: integer (nullable = true)
 |-- QE_I68: integer (nullable = true)
 |-- QE_I69: string (nullable = true)
 |-- QE_I70: string (nullable = true)
 |-- QE_I71: string (nullable = true)
 |-- QE_I72: string (nullable = true)
 |-- QE_I73: string (nullable = true)
 |-- QE_I74: string (nullable = true)
 |-- QE_I75: string (nullable = true)
 |-- QE_I76: string (nullable = true)
 |-- QE_I77: string (nullable = true)
 |-- QE_I78: string (nullable = true)
 |-- QE_I79: string (nullable = true)
 |-- QE_I80: string (nullable = true)
 |-- QE_I81: string (nullable = true)

In [14]:
df.createTempView('temp')

In [32]:
resposta = spark.sql('''
                        select count(*)
                        from temp
                        where CO_GRUPO in ('3201','3202')
                            ''')

In [33]:
resposta.show()

+--------+
|count(1)|
+--------+
|    7113|
+--------+

In [36]:
resposta = spark.sql('''
                        select count(*)
                        from temp
                        where CO_GRUPO in ('3201','3202')
                        and TP_SEXO = 'M'
                            ''')

In [37]:
resposta.show()

+--------+
|count(1)|
+--------+
|    4533|
+--------+

In [79]:
resposta = spark.sql('''
                        select 
                        round(cast(regexp_replace(NT_GER, ',', '.')as double),2) as NT_GER
                        from temp
                        where CO_GRUPO in ('3201','3202')
                        group by 1
                        order by 2 DESC
                            ''')

In [80]:
resposta.show(40)

+-----------+------+
|CO_UF_CURSO|NT_GER|
+-----------+------+
|         53|  53.7|
|         33| 50.59|
|         42| 49.99|
|         31| 49.87|
|         52| 48.42|
|         35| 48.28|
|         26| 48.19|
|         50| 48.17|
|         41| 48.16|
|         43| 47.56|
|         24| 45.48|
|         16| 44.23|
|         32| 44.04|
|         29|  44.0|
|         25| 43.83|
|         28| 43.04|
|         15| 41.79|
|         27| 41.59|
|         51|  41.4|
|         23| 40.98|
|         17| 40.34|
|         13| 40.22|
|         14| 38.62|
|         21| 36.13|
|         11| 35.59|
|         12| 34.81|
|         22|  33.6|
+-----------+------+

In [120]:
resposta1 = spark.sql('''
    SELECT
    AVG(regexp_replace(NU_IDADE, ',', '.')) as NT_GER
    FROM temp
    WHERE CO_GRUPO IN ('3201','3202')
''')

resposta1.show()

+------------------+
|            NT_GER|
+------------------+
|33.669619007451146|
+------------------+

In [128]:
resposta2 = spark.sql('''
    SELECT
    AVG(regexp_replace(NU_IDADE, ',', '.')) as NT_GER
    FROM temp
    WHERE CO_GRUPO IN ('1401','1402')
''')

resposta2.show()

+------------------+
|            NT_GER|
+------------------+
|28.099538562953196|
+------------------+

In [109]:
resposta = spark.sql('''
                        select 
                        round(cast(regexp_replace(NT_GER, ',', '.')as double),0) as NT_GER
                        from temp
                        where CO_GRUPO in ('3201','3202')
                        and CO_RS_I2 = 'B'
                        order by 1 desc
                            ''')

In [110]:
resposta.show()

+------+
|NT_GER|
+------+
|  90.0|
|  86.0|
|  85.0|
|  81.0|
|  80.0|
|  79.0|
|  79.0|
|  78.0|
|  76.0|
|  75.0|
|  75.0|
|  75.0|
|  75.0|
|  75.0|
|  74.0|
|  74.0|
|  73.0|
|  73.0|
|  73.0|
|  72.0|
+------+
only showing top 20 rows

In [126]:
resposta1 = spark.sql('''
SELECT AVG(CAST(regexp_replace(NT_GER, ',', '.') AS DOUBLE)) as media_nt_ger
FROM temp
WHERE CO_UF_CURSO = '43' AND CO_GRUPO IN ('3201', '3202')
''')

resposta1.show()

+-----------------+
|     media_nt_ger|
+-----------------+
|47.56138888888884|
+-----------------+

In [136]:
resposta1 = spark.sql('''
    SELECT
    CO_UF_CURSO,
    AVG(NU_IDADE) 
    FROM temp
    WHERE CO_GRUPO IN ('3201','3202')
    group by 1
    order by 2 desc
''')

resposta1.show()

+-----------+------------------+
|CO_UF_CURSO|     avg(NU_IDADE)|
+-----------+------------------+
|         32|  37.9920424403183|
|         11|37.714285714285715|
|         42| 37.66773162939297|
|         21| 36.94009216589862|
|         15|35.815384615384616|
|         43|35.669623059866964|
|         29|34.836120401337794|
|         25| 33.89102564102564|
|         33|33.691466083150985|
|         53|33.614583333333336|
|         51| 33.56603773584906|
|         12| 33.55172413793103|
|         50|              33.5|
|         31| 33.42088091353997|
|         35| 33.41230551626591|
|         17|32.515151515151516|
|         22|32.334916864608076|
|         41| 32.05580357142857|
|         27| 32.03333333333333|
|         52|31.771929824561404|
+-----------+------------------+
only showing top 20 rows

In [137]:
resposta1 = spark.sql('''
    SELECT
    CO_UF_CURSO,
    count(*) 
    FROM temp
    WHERE QE_I03 = 'C'
    group by 1
    order by 2 desc
''')

resposta1.show()

+-----------+--------+
|CO_UF_CURSO|count(1)|
+-----------+--------+
|         35|     360|
|         41|     160|
|         33|     109|
|         31|      78|
|         42|      64|
|         23|      60|
|         43|      52|
|         53|      24|
|         29|      23|
|         50|      22|
|         13|      19|
|         27|      17|
|         52|      17|
|         25|      15|
|         24|      13|
|         26|      12|
|         17|      12|
|         15|      10|
|         22|       9|
|         32|       8|
+-----------+--------+
only showing top 20 rows